# .NET Core build files
bin/
obj/

# Visual Studio files
.vs/
*.suo
*.user
*.csproj.user
*.bak

# NuGet packages
*.nupkg
packages/
*.nuget.props
*.nuget.targets

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.bak
*.cache
*.cl
*.pyc
*.swp



# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Compiled output
# dist/
*.class

# Dependency directories
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Environment variables
.env
.env.*
.env.local
.env.development
.env.test
.env.production

# Testing
coverage/

# Angular specific
*.js.map
*.js.map.*
*.d.ts
*.metadata.json
*.ngsummary.json
*.ngstyle.js

# End of File
